body{
    background:#75de98;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:0;
}
#container{
    background: rgba(255,255, 84,0.3);
    max-width:400px;
    padding: 20px;
    border-radius:15px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255, 55,0.3);
    text-align: center;
}
h1{
    color:rgb(160, 40, 160);
}
#input{
    border-radius: 5%;
    font-size: 20px;
    color:brown;
    background-color:aquamarine;
}
button{
    border-radius: 5%;
    font-size:20px;
    color:darkgreen;
    background-color:greenyellow ;
    cursor: pointer;
}
button:hover{
    color:red;
    background-color: aquamarine;
    
}